$color1: #ffa400; //rgba(255, 164, 0, 100)
$color2: #009ffd; //rgba(0, 159, 253, 100)
$color3: #2a2a72; //rgba(42, 42, 114, 100)
$color4: #232528; //rgba(35, 37, 40, 100)
$color5: #eaf6ff; //rgba(234, 246, 255, 100)
$color6: #99d8c9;
$color7: #e5f5f9;

body {
  //background-color: $color3;
}

svg {
  margin-top: 50px;
  //background: rgba(255, 255, 255, .75);
  //background-color: #f0e68c;
  //box-shadow: 0 0 50px black;
}

.x-legend, .y-legend {
  font-size: 1.2em;
}

text {
  fill: $color4;
}

path, .tick {
  font-family: 'Roboto';
  font-size: 1.3em;
  stroke: $color4;
  line {
    stroke: $color4;
  }
}

.tooltip {
  pointer-events: none;
}
